/** @format */

p {
  padding: 0;
  margin: 0.4rem;
}

fieldset input {
  padding: 1 rem;
}

nav {
  padding: 2rem;
  background-color: rgb(105, 105, 189) !important;
  position: sticky;
  top: 0;
  z-index: 1;
}
